@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");


.recipe-container {
    border-radius: 5px;
    margin: 10px;
    height: 300px;
    width: 175px;
    box-shadow: 3px 3px 6px black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.title {
	color: #F34032;
}

.fas {
    font-size: 15px;
    color: #F34032;
    cursor: pointer; 
    position: absolute;
    bottom: -10px;
    right: 15px;
    transform: translate(50%, -25%);
}

img {
    cursor: pointer;
    max-width: 150px;
    max-height: 200px;
    border-radius: 5px;
    display: flex;
    margin-left: 12px;
	
}


mat-card-content {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
	height: 80%;
	width: 85%;
	overflow-y: auto;
}

p {
  color: black;
  margin-top: 5px;
  font-family: 'Open Sans Condensed', sans-serif; 
  width: 100%;
  overflow-y: auto;
}

.roof {
  position: fixed;
  height: 10px;
}
