@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");


.recipe-container {
    border-radius: 5px;
    margin: 10px;
    height: 280px;
    width: 160px;
    box-shadow: 3px 3px 6px black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.fas {
    font-size: 15px;
    color: #F34032;
    cursor: pointer; 
    position: absolute;
    bottom: 0;
    right: 15px;
    transform: translate(50%, -25%);
}

img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

/*
::ng-deep .mat-button{
    height:10px !important;
    width:10px !important;
    font-size:10px !important;
}
*/

mat-button {
	width: 8px;
}


mat-card-content {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 80%;
	width: 80%;
}

p {
  color: black;
  margin: 10px;
  padding-left: 10px; 
  font-family: 'Open Sans Condensed', sans-serif 
}
