<!-- Home Page -->

<div class="logo-container">
<div class="logo">
<img src="assets/omnomnom.png" alt="logo">
</div>	
</div>

<form #searchForm="ngForm" (ngSubmit)="searchRecipes(searchForm)">
 
    <mat-form-field>
      <input matInput placeholder="e.g. soup, salad, pizza" type="text" [(ngModel)]="searchWord" name="searchWord">
    </mat-form-field>
  
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="droplist">
            Diet Labels
          </mat-panel-title>
        </mat-expansion-panel-header>
     
		  
		  
		
			  
<!--
		  <mat-selection-list [(ngModel)]="dietaryRestriction" name="dietaryRestriction">
  <mat-list-option *ngFor="let option of dietOptions" [value]="option.value">
    {{ option.name }}
  </mat-list-option>
</mat-selection-list>
-->

		  
		  
<mat-radio-group
	[(ngModel)]="dietaryRestriction"
	name="dietaryRestriction"			 
aria-labelledby="diet-restrictions"
  class="radio-group">
  <mat-radio-button class="radio" *ngFor="let option of dietOptions" [value]="option.value">
    {{ option.name }}
  </mat-radio-button>
</mat-radio-group>

	  
		  
		  
		  
<!--
		  <mat-form-field>
  <mat-label>Dietary Restriction</mat-label>
  <mat-select [(ngModel)]="dietaryRestriction" name="dietaryRestriction">
    <mat-option *ngFor="let option of dietOptions" [value]="option.value">
      {{option.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
		  
		  
<!--
		   <div class="diets">
          <mat-checkbox *ngFor="let option of dietOptions" [value]="option.value">{{option.name}}</mat-checkbox>
        </div>
-->
		  
		  
		  
<!--		  [(ngModel)]="dietaryRestriction"-->
		  
<!--
        <div class="diets">
          <mat-checkbox [value]="dairy-free" name="dairy-free">
          <span class="diet-title">Dairy-Free</span>
            <span class="diet-info">No dairy, no lactose</span>
          </mat-checkbox>
        </div>
        <div class="diets">
          <mat-checkbox [value]="gluten-free" name="gluten-free">
          <span class="diet-title">Gluten-Free</span>
            <span class="diet-info">No ingredients containing gluten</span>
          </mat-checkbox>
        </div>
        <div class="diets">
          <mat-checkbox [value]="vegetarian" name="vegetarian">
          <span class="diet-title">Vegetarian</span>
            <span class="diet-info">No meat, poultry, or fish</span>
          </mat-checkbox>
        </div>
        <div class="diets">
          <mat-checkbox [value]="vegan" name="vegan">
          <span class="diet-title">Vegan</span>
            <span class="diet-info">No meat, poultry, fish, dairy, eggs, or honey</span>
          </mat-checkbox>
        </div>
        <div class="diets">
          <mat-checkbox [value]="low-carb" name="low-carb">
          <span class="diet-title">Low-Carb</span>
            <span class="diet-info">Less than 20% of total calories from carbs</span>
          </mat-checkbox>
        </div>
-->
     
    
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="droplist">
            Calories
          </mat-panel-title>
        </mat-expansion-panel-header>
     

        <mat-slider	
		[(ngModel)]="minCalories"			
		type="number"
		name="minCalories"			
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="100"
        min="1"
        max="2000"
		value="1"			
        ></mat-slider>
<!--     (input)="minCalories($event)"-->
       
      </mat-expansion-panel>
    </mat-accordion>
  
    <button mat-button routerLink="/results">Submit</button>
  
  
  
  </form>